<form [formGroup]="form" (submit)="signup()">
    <h2>ثبت‌نام</h2>
    <section>
        <div class="lable">نام و نام خانوادگی:</div>
        <input type="text" formControlName="name" />
    </section>
    <div class="error" *ngIf="(name.touched || name.dirty) && name.hasError('required')">
        مشخص کردن مقدار الزامی است.
    </div>
    <section>
        <div class="lable">ایمیل:</div>
        <input type="text" formControlName="email" class="ltr" />
    </section>
    <div class="error" *ngIf="(email.touched || email.dirty) && email.hasError('required')">
        مشخص کردن مقدار الزامی است.
    </div>
    <div class="error" *ngIf="(email.touched || email.dirty) && email.hasError('email')">
        مقدار باید به صورت آدرس ایمیل مشخص شود.
    </div>
    <section>
        <div class="lable">موبایل:</div>
        <input type="text" formControlName="mobile" class="ltr" />
    </section>
    <div class="error" *ngIf="(mobile.touched || mobile.dirty) && mobile.hasError('required')">
        مشخص کردن مقدار الزامی است.
    </div>
    <div class="error" *ngIf="(mobile.touched || mobile.dirty) && mobile.hasError('mobile')">
        مقدار باید به صورت شماره موبایل مشخص شود.
    </div>
    <section>
        <div class="lable">کلمه عبور:</div>
        <input type="password" formControlName="password" class="ltr" />
    </section>
    <div class="error" *ngIf="(password.touched || password.dirty) && password.hasError('required')">
        مشخص کردن مقدار الزامی است.
    </div>
    <section>
        <div class="lable">تایید کلمه عبور:</div>
        <input type="password" formControlName="confirm" class="ltr" />
    </section>
    <div class="error" *ngIf="(confirm.touched || confirm.dirty) && confirm.hasError('required')">
        مشخص کردن مقدار الزامی است.
    </div>
    <div class="button">
        <button type="submit">ثبت‌نام</button>
        <button type="button" (click)="reset()">بازنویسی</button>
    </div>
</form>
